<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"northrop-johnson/hero"} /-->
  <!-- wp:pattern {"slug":"northrop-johnson/charterexperience"} /-->
  <!-- wp:pattern {"slug":"northrop-johnson/companyvalues"} /-->
  <!-- wp:pattern {"slug":"northrop-johnson/globalpresence"} /-->
  <!-- wp:pattern {"slug":"northrop-johnson/latestnews"} /-->
  <!-- wp:pattern {"slug":"northrop-johnson/newslettersignup"} /-->
  <!-- wp:pattern {"slug":"northrop-johnson/njdifference"} /-->
  <!-- wp:pattern {"slug":"northrop-johnson/ownerservices"} /-->
  <!-- wp:pattern {"slug":"northrop-johnson/readytoembark"} /-->
  <!-- wp:pattern {"slug":"northrop-johnson/superyachtinsights"} /-->
  <!-- wp:pattern {"slug":"northrop-johnson/yachtservices"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
